{
  "extends": ["prettier", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 2017
  }
}
